@charset "UTF-8";
/**2015年11月25日15:22:16 llw 新版认证**/
*{
	font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
}
body{
	background-color: #fff;
}
.auth-container{
	position: relative;
	background-color: white;
	/*margin: 0 20px;*/
	margin: 0;
	min-height: 551px;
	min-width: 280px;
}
.auth{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.auth-header{
    /*height: 75px;*/
    /*padding: 15px 0;*/
    /*margin-top: 15px;*/

	width: 100%;
	height: 48px;
}
.auth-picc-header{
	background: white;
	height: 75px;
	padding: 15px 20px;
	margin-top: 15px;
}
.auth-logo-left{
	width: 70%;
	float: left;
	height: 100%;
	position: relative;
}
.auth-logo-right{
	width: 30%;
	float: right;
	height: 82%;
}
.auth-logo-default{
	position: relative;
	top: 59%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.auth-logo-left img, .auth-logo-right img{
	height: 100%;
	width: 100%;
}
.auth-logo-default img{
	height: 100%;
	width: auto;
	float: right;
}
.auth-content{
	width: 90%;
	position: absolute;
	left: 50%;
	margin-left: -45%;
	top:320px
}
.auth-input{
	height: 46px;
	line-height: 46px;
    margin-bottom: 5px;
    border: 3px solid #dcdcdc;
    border-radius: 6px;
    font-size: 16px;
}
.auth-input-img{
	height: 100%;
    width: 15%;
    float: left;
    position: relative;
    background-color: #f7f7f7;
}
.auth-input-img img{
	height: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -12px;
}
.auth-input input{
	height: 100%;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    width: 46%;
    float: left;
}
.auth-input button{
	color: #36a9e5;
    border-left: 1px solid #dcdcdc;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	height: 25px;
	line-height: 25px;
}
.auth-input button:disabled{
	color: #b4b4b4;
}
.auth-btn{
	width: 100%;
    height: 47px;
    border-radius: 6px;
    border:3px solid;
    font-size: 19px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-blue{
	background: #36a9e5;
	color: white;
	border-color: #36a9e5;
	margin-top:5px;
}
.auth-white{
	background: white;
	color: #36a9e5;
	border-color: rgba(54,169,229,0.5);
}
.auth-blue:active{
	background-color: #308dbe;
}
.auth-white:active{
	color: #308dbe;
}
.auth-agree,.auth-agree-En{
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
	line-height: 1;
	text-align: center
}
.auth-agree a,.auth-agree-En a{
	display: inline-block;
	color: #36a9e5;
}
.auth-footer{
	width: 100%;
	position: absolute;
	display: block;
}
.auth-ad{
	width:100%;
    /*height: 126px;*/
    /*position: absolute;*/
    /*top: 40%;*/
    /*margin-top: -75px;*/
}
.auth-footer p{
	font-size: 12px;
	color: #969696;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1;
	position: absolute;
    bottom: 0;
    width: 100%;
}
.auth-old-input{
    height: 10px;
    /*line-height: 84px;*/
    margin-bottom: 10px;
    /*border: 3px solid #dcdcdc;*/
    /*border-radius: 6px;*/
}
.auth-old-input-img{
	height: 100%;
    float: left;
    position: relative;
    width: 19%;
}
.auth-old-input-img img{
	height: 54%;
    position: absolute;
    top: 23%;
    right: 0;
}
.auth-old-input p{
	float: left;
    padding: 0 12px;
    font-weight: bold;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 19px;
}
.auth-old-input button{
	color: #36a9e5;
    width: 31%;
    font-size: 16px;
}
.auth-input-error{
	border-color: rgba(254,82,79,0.5);
}
.auth-span-error{
	display: none;
	color: #fe524f;
	font-size: 12px;
	line-height: 1;
	background-color: rgba(111,111,111,0);
}
.twinkling{
	-webkit-animation: twinkling 1s 4 linear;
	animation: twinkling 1s 4 linear;
}
@-webkit-keyframes twinkling{
	0%{
		background-color: #ffffff;
	}
	100%{
		background-color: #ffffff;
	}
}
@keyframes twinkling{
	0%{
		background-color: #ffffff;
	}
	100%{
		background-color: #ffffff;
	}
}
.auth-color-grey{
	color: #666;
}
.auth-forbid-area{
    margin-bottom: 10px;
    border: 3px solid #dcdcdc;
    border-radius: 6px;
    padding: 10px;
}
.auth-forbid-area p{
	font-size: 14px;
    line-height: 20px;
}
.auth-forbid-area p:first-child{
	font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 20px 0;
}
.auth-forbid-area > p:nth-child(2){
	margin-bottom: 15px;
}
.auth-forbid-area > div{
	margin-bottom: 8px;
}
.auth-forbid-area i{
	height: 20px;
	line-height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #36a9e5;
    color: white;
    text-align: center;
    display: inline;
    float: left;
    margin-right: 10px;
}
::-webkit-input-placeholder {
  color: #969696;
}


/*2016年1月26日14:19:51 平安保单认证新增样式*/
.tab-container{

}
.tab-content{
}
.bg-grey{
	background-color: #f0f0f0;
}
.auth-tab{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.auth-tab-two{

}
.auth-tab-two>li{
	width:50%;
}
.auth-tab-one>li{
	width:100%;
	border:0;
}
.auth-tab:before{
	display: table;
    line-height: 0;
    content: "";
}
.auth-tab:after{
	display: table;
    line-height: 0;
    content: "";
	clear: both;
}
.auth-tab>li{
	float: left;
	height: 100%;
	font-size: 16px;
    text-align: center;
    color:#969696;
    border-bottom:1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-tab>li:first-child{
	border-right: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-tab>li>span{
	
}
.auth-tab>.active{
	color:#36a9e5;
	border-bottom: 4px solid;
}
.auth-banner{
	height: 174px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px 0 20px;
	background: white;
	position: relative;
}
.auth-banner>img{
	width: 100%;
	height: 100%;
}
.auth-panel{
	margin-bottom: 10px;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.07);
	background-color: #fff;
	font-size: 14px;
}
.auth-panel-header{
	height: 40px;
	padding: 11px 20px;
	font-size: 18px;
	font-weight: bold;
	color: #323232;
	border-bottom: 1px solid #dcdcdc;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-panel-header>p{
	line-height: 1;
}
.auth-panel-header:before{
	content: "";
    background: #36a9e5;
    width: 6px;
    height: 18px;
    margin-right: 8px;
    display: block;
    float: left;
}
.auth-panel-header:after{
	display: block;
    line-height: 0;
    content: "";
	clear: both;
}
.auth-panel-body{
	padding:20px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-row{
	width: 100%;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-row:after{
	display: block;
    line-height: 0;
    content: "";
	clear: both;
}
.auth-row>div,.auth-row>ul,.auth-row>li,.auth-row>input{
	height: 40px;
    line-height: 40px;
}
.auth-row input{
	height: 100%;
	width:100%;
	padding:0 10px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-row button{
    height: 20px;
    line-height: 20px;
    color: #36a9e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 9px;
    right: 0;
    border-left: 1px solid #dcdcdc;
    width:100%;
}
.auth-row button:disabled{
	color: #b4b4b4;
}
.auth-block-area{
	color:#323232;
}
.auth-block-area>.active{
	color:#36a9e5;
	border-color: #36a9e5;
}
.auth-block-area>li{
	width: 48.75%;
    height: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-block-area:before{
	display: table;
    line-height: 0;
    content: "";
}
.auth-block-area:after{
	display: table;
    line-height: 0;
    content: "";
	clear: both;
}
.auth-btn2{
	width: 100%;
    height: 45px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-arrow-input{
	padding:0 40px 0 10px;
}
.auth-arrow{
	width: 30px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.auth-arrow>img{
	position: absolute;
    top: 12px;
    left: 10px;
    height: 14px;
}
.auth-body-header{
	font-size: 16px;
    color: #323232;
    margin-bottom: 11px;
}
.auth-body-table{
	width: 100%;
	font-size: 14px;
	text-align: center;
}
.auth-body-table table{
	width: 100%;
	margin-bottom: 20px;
}
.auth-body-table tr{
	height: 30px;
	line-height: 30px;
}
.auth-body-table td{
	border:1px solid #dcdcdc;
}
.auth-body-table-thead{
	background-color: #f7f7f7;
	font-weight: bold;
}
.auth-panel-body>p{
	margin-bottom: 10px;
}





body{
	background-color: #fff;
}
.left{
	float: left;
}
.right{
	float: right;
}
.auth-border{
	height: 100%;
	border: 1px solid #dcdcdc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-circle{
	height: 20px;
	line-height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #36a9e5;
    color: white;
    text-align: center;
    display: inline;
    float: left;
    margin-right: 10px;
}
.auth-warning{
    font-size: 16px;
    color: #ffa751;
}
.auth-error-text{
	display: none;
	font-size: 12px;
	line-height: 1;
	margin-top: 6px;
	width: 100%;
	color:#ff5151;
}
.auth-copyright{
	height: 40px;
    text-align: center;
    line-height: 40px;
    color: #969696;
    font-size: 12px;
}
.auth-footer-btn{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #36a9e5;
    width: 100%;
    border-radius: 4px;
    border-bottom: 1px solid #dcdcdc;
}
.auth-select-panel{
    z-index: 10086;
    background: white;
    position: fixed;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 290px;
    margin-top: -145px;
    border-radius: 4px;
    display: none;
}
.auth-select-header{
	height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-select-panel ul{
	overflow-y: scroll;
}
.auth-select-panel ul li{
	height: 40px;
    line-height: 40px;
    text-align: center;
    color: #36a9e5;
    font-size: 16px;
    border-bottom: 1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-shade{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10085;
    background-color: #000;
    opacity: 0.5;
    display: none;
}
.forbid-scroll{
	height: 100%;
	overflow: hidden;
}
.auth-old-border{
	border:1px solid #dcdcdc;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-error-border{
	border-color:#ff5151;
}
.auth-dialog-panel{
	display: none;
    z-index: 99999;
    width: 88%;
    position: fixed;
    height: 200px;
    top: 50%;
    left: 6%;
    margin-top: -100px;
    padding: 36px 0 20px 0;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.auth-dialog-header{
	width: 100%;
    margin-bottom: 30px;
}
.auth-dialog-header>p{
    font-size: 20px;
    text-align: center;
    line-height: 1;
}
.auth-dialog-header>.success{
	color: #59bf1b;
}
.auth-dialog-header>.error{
	color: #ff5151;
}
.auth-dialog-content>p{
	line-height: 1;
    font-size: 16px;
    text-align: center;
    margin-bottom: 14px;
}
.auth-dialog-footer{
	position: absolute;
    bottom: 20px;
    width: 100%;
}
.auth-dialog-footer>div{
	float: left;
}
.auth-dialog-footer>.half{
	width:50%;
}
.auth-dialog-footer>.whole{
	width:100%;
}
.auth-dialog-footer>div>button{
	width:100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	background-color: #36a9e5;
	position: relative;
    left: 50%;
    margin-left: -50px;
}